/* body {
    background-image: url("../images/Green.png");
} */

table#game_board{
    margin:auto;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(100,100,100);
}

table#game_board td{
    /* padding:5px; */
    background: url('../images/empty.gif');
    border-style: solid;
    border-width: 1px;
    border-color: white;
    width: 66px;
    height: 66px;
}

#messages p{
    margin: 0px;
}

td.valid_move {
    background: url('../images/hover.gif')!important;
    background-size: 100% 100%;
}

td.error {
    border-color: red!important;
    border-width: 2px!important;
}